@import "./globals.css";
@import "./variables.css";

body {
  font-family: var(--font-sans);
}

/* header */
.header {
  position: relative;
  max-height: 110vh;
  overflow: hidden;
}

.header__image-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  object-fit: cover;
  /* max-width: 100%; */
  z-index: -1;
}

/* navbar */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: 10rem;
  padding: 2rem 1.5rem;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__link {
  text-decoration: none;
  font-weight: var(--weight-semibold);
  color: var(--neutral-white);
  font-size: var(--fs-0);
  outline-offset: 0.5rem;
  opacity: 0.85;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:focus {
  outline: 0.2rem dotted white;
}

/* button */
.nav__btn {
  font-family: var(--font-serif);
  text-decoration: none;
  padding: min(2vh, 0.75rem) min(3vh, 1.5rem);
  font-weight: var(--weight-bold);
  font-size: var(--fs--1);
  background-color: var(--neutral-white);
  text-transform: uppercase;
  color: var(--neutral-very-dark-desaturated-blue);
  border-radius: 5rem;
  outline-offset: 0.25rem;
  transition: 200ms opacity ease-in-out;
}

.nav__btn:hover {
  opacity: 0.85;
}

.nav__btn:focus {
  /* opacity: 1; */
  outline: 0.2rem dotted white;
}

/* hero */
.hero {
  height: 90vh;
  padding: 3rem;
}

.hero__content {
  text-align: center;
}

.hero__heading {
  font-size: var(--fs-4);
  color: var(--neutral-white);
  font-family: var(--font-serif);
  text-transform: uppercase;
}

.hero__arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: min(10vh, 7.5rem);
}

/* transform your brand */
.section__cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
}

.section__cols-text-content {
  color: var(--neutral-very-dark-desaturated-blue);
  padding-block: 5rem;
  padding-inline: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 50rem) {
  .section__cols-text-content {
    padding-block: 2.5rem;
    padding-inline: 5rem;
  }
}

.section__cols-image-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__image-full {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
}

.section__heading {
  font-weight: var(--weight-bold);
  font-size: var(--fs-3);
  margin-bottom: 1rem;
  font-family: var(--font-serif);
}

.section__text {
  font-size: var(--fs--1);
}

/* link: learn more */
.link {
  text-decoration: none;
  display: inline-block;
  font-size: var(--fs--1);
  margin-block: min(3.5vh, 3.5rem);
  text-transform: uppercase;
  font-family: var(--font-serif);
  font-weight: var(--weight-bold);
  color: var(--neutral-very-dark-desaturated-blue);
  position: relative;
}

.link::after {
  content: "";
  height: 0.5rem;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5rem;
  transition: 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.link:hover::after {
  height: 0.75rem;
}

#transform-link::after {
  background-color: var(--primary-yellow);
}

#stand-out-link::after {
  background-color: var(--primary-soft-red);
}

/* categories */
.categories__section {
  padding: 5rem;
  padding-top: 20rem;
  text-align: center;
  position: relative;
  /* overflow: hidden; */
  /* background-color: red; for preview */
}

/* image */
.categories__section-bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.graphic-design {
  color: var(--primary-dark-desaturated-cyan);
}

.photography {
  color: var(--primary-dark-blue);
}

/* testimonials */
.testimonials {
  padding: 4rem;
}

.testimonials__heading {
  font-size: var(--fs-1);
  text-transform: uppercase;
  font-family: var(--font-serif);
  color: var(--neutral-grayish-blue);
  text-align: center;
  margin-block: 3rem;
  margin-bottom: 6rem;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 1fr);
  gap: 1rem;
}

.testimonials__image-center {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  align-items: center;
  margin-bottom: 3rem;
}

.testimonials__profile-image {
  max-width: 4rem;
  border-radius: 50%;
}

.testimonials__item {
  text-align: center;
  padding: 2rem;
}

.testimonials__name {
  font-family: var(--font-serif);
  margin-top: 5rem;
  color: var(--neutral-very-dark-desaturated-blue);
  font-size: var(--fs--1);
}

.testimonials__pos {
  font-size: var(--fs--2);
  font-weight: var(--weight-semibold);
  color: var(--neutral-dark-grayish-blue);
}

/* products */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* footer */
.footer {
  background-color: #90d4c5;
}

.footer__logo-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* 
.footer__logo {
  filter: ;
} */

.footer__links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.footer__links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
}

.footer__link {
  display: block;
  font-size: var(--fs--1);
  text-decoration: none;
  font-weight: var(--weight-semibold);
  color: var(--primary-dark-desaturated-cyan);
  transition: color 200ms ease;
  outline-color: invert;
  outline-offset: 0.2rem;
}

.footer__link:hover {
  color: var(--neutral-white);
}

.footer__link:focus {
  outline: 0.2rem dotted;
}

.footer__social-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  list-style: none;
}

.footer__social-icon {
  outline-offset: 0.2rem;
}

.footer__social-icon:hover {
  opacity: 0.75;
  transition: color 200ms ease;
}

.footer__social-icon:focus {
  /* outline-color: var(--primary-dark-desaturated-cyan); */
  outline: 0.2rem dotted var(--primary-dark-desaturated-cyan);
}

/* disable toggler on desktop */
.nav__toggle-btn {
  background: transparent;
  border: none;
  display: none;
}

/* responsive for mobile */
@media (width < 50rem) {
  .nav {
    flex-direction: column;
    gap: 1rem;
  }

  .nav__toggle-btn {
    display: block;
    cursor: pointer;
    outline-offset: 0.5rem;
    /* transition: 100ms ease-in-out; */
  }

  .nav__toggle-btn img {
    display: block;
  }

  .nav__toggle-btn-focus {
    outline: 0.25rem dotted var(--neutral-dark-grayish-blue);
    /* rotate: 90deg; */
  }

  .nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }

  .nav__links {
    flex-direction: column;
    text-align: center;
    /* position: absolute;
    top: 5rem;
    inset-inline: 2rem; */
    background-color: var(--neutral-white);
    padding: 3rem;
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
  }

  /* the little indicator */
  /* 
  .nav__links-show::before {
    content: "";
    height: 2rem;
    width: 2rem;
    position: absolute
    background: red;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    right: 0;
  } */

  .nav__links-show {
    display: flex;
  }

  .nav__link {
    color: var(--primary-dark-desaturated-cyan);
  }

  .nav__btn {
    background-color: var(--primary-yellow);
  }

  .section__cols {
    grid-template-columns: 1fr;
  }

  .section__cols-text-content {
    text-align: center;
  }

  .categories__section {
    padding: 5rem;
    padding-top: 25rem;
    overflow: hidden;
  }

  .stand-out .section__cols-image-content {
    order: 1;
  }

  .categories__section-bg {
    max-width: 100%;
    object-fit: cover;
  }

  .testimonials__grid {
    grid-template-columns: 1fr;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
