@import "./globals.css";
@import "./variables.css";

body {
  font-family: var(--font-sans);
}

/* header */
.header {
  position: relative;
  max-height: 95vh;
  overflow: hidden;
}

.header__image-bg {
  position: absolute;
  inset: 0;
  max-height: 100%;
  /* max-width: 100%; */
  z-index: -1;
}

/* navbar */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: 10rem;
  padding: 2rem 1.5rem;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav__link {
  text-decoration: none;
  font-weight: var(--weight-semibold);
  color: var(--neutral-white);
  font-size: var(--fs-0);
  outline-offset: 0.5rem;
  opacity: 0.85;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:focus {
  outline: 0.2rem dotted white;
}

/* button */
.nav__btn {
  font-family: var(--font-serif);
  text-decoration: none;
  padding: min(2vh, 0.75rem) min(3vh, 1.5rem);
  font-weight: var(--weight-bold);
  font-size: var(--fs--1);
  background-color: var(--neutral-white);
  text-transform: uppercase;
  color: var(--neutral-very-dark-desaturated-blue);
  border-radius: 5rem;
  outline-offset: 0.25rem;
  transition: 200ms opacity ease-in-out;
}

.nav__btn:hover {
  opacity: 0.85;
}

.nav__btn:focus {
  /* opacity: 1; */
  outline: 0.2rem dotted white;
}

/* hero */
.hero {
  height: 90vh;
  padding: 3rem;
}

.hero__content {
  text-align: center;
}

.hero__heading {
  font-size: var(--fs-4);
  color: var(--neutral-white);
  font-family: var(--font-serif);
  text-transform: uppercase;
}

.hero__arrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: min(10vh, 7.5rem);
}
